####
# NOTE: This documentation is for the experimental deployment and local development
# The final documentaiton will be under gradle.org
####
site_name: Declarative Gradle
site_description: >-
  Declarative Gradle is a project targeting better isolation of concern
  and expressing any build in a clear and understandable way
copyright: >
  For content - Copyright &copy; 2024 - All contributors to the repository and included components.
  <br/>All text/documentation content is open source and licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 License</a>.
  <br/>Some code samples may be licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a> or other permissive OSI-compliant licenses.
  <br/>The original content licenses and copyrights from the included repositories are preserved,
  you can find them in the linked repositories.
  <br/>The GRADLE trademark is the property of Gradle, Inc.
docs_dir: .
repo_url: https://github.com/gradle/declarative-gradle
repo_name: Declarative Gradle repo
edit_uri: edit/main/
site_url: https://gradle.github.io/declarative-gradle
strict: true

# Build
site_dir: _site

# Theme
theme:
  name: material
  highlightjs: true
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    # NOT compatible qith toc.integrate
    # - navigation.indexes
    - navigation.path
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.expand
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    # TODO: use the site's scheme
    # text: Lato Lite
    code: Roboto Mono
  favicon: docs/images/logos/gradle.svg
  logo: docs/images/logos/gradle.svg
  icon:
    repo: fontawesome/brands/github

nav:
  - Home:
    - Overview: README.md
    - Roadmap: ROADMAP.md
  - Getting Started:
    - Overview: docs/getting-started/README.md
    - Setup: docs/getting-started/setup.md
    - Samples: docs/getting-started/samples.md
  - Documentation:
    - Overview: docs/reference/README.md
    - Software Features: docs/reference/software-features.md
  - Participate:
    - Contributing: docs/CONTRIBUTING.md
    - Code of Conduct: docs/CODE_OF_CONDUCT.md
  - Resources:
    - Publications: publications/README.md
    - KotlinConf 2024: publications/2024-05-kotlinconf.md
    - Newsletter: publications/newsletter/README.md

extra_css:
  - docs/assets/css/gradle.css

extra:
  social:
    - icon: fontawesome/brands/slack
      link: https://gradle.org/slack-invite
      name: Slack
    - icon: fontawesome/brands/github
      link: https://github.com/gradle
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/gradle
      name: Twitter/X
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/gradle
      name: LinkedIn
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.social/@Gradle
      name: Mastodon
#  analytics:
#    provider: google
#    property: TODO

plugins:
  - search
  - autorefs
# FIXME: Collision on GitHub Actions, to be fixed later
#  - macros
  - mkdocs-pdf
  - social
  - same-dir
  - include-markdown
  - redirects:
      redirect_maps:
        'docs/android/README.md': 'docs/getting-started/samples.md#android-application'
        'docs/java/README.md': 'docs/getting-started/samples.md#java-application'
        'docs/kotlin/README.md': 'docs/getting-started/samples.md#kotlin-application'
        'docs/swift/README.md': 'docs/getting-started/samples.md#swift'
        'unified-prototype/README.md': 'docs/getting-started/samples.md#prototypes'

# Markdown
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: '#'
      toc_depth: 2
  - admonition
  - attr_list
  - mdx_truly_sane_lists
